@if(isloading){
<div class="preloader">
  <img class="animated-text" src="logo.png">
</div>
}
<section class="vh-100 container-fluid d-flex flex-nowrap">
  <div class="w-auto m-auto align-items-center justify-content-center align-content-center">
    <form [formGroup]="loginForm" class="py-5 rounded px-3" (ngSubmit)="onSubmit()">
      <!-- Email input -->
      <img src="logo.png" class="d-block m-auto mb-5" alt="logo">
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" class="form-control" placeholder="" formControlName="email" />
        <label for="email" class="form-label ms-3">Email address</label>
        <p *ngIf="loginForm.controls.email.touched&& loginForm.controls.email.dirty && loginForm.controls.email.errors?.['required']"
          class="text-danger">
          * This field is required
        </p>
        <p *ngIf="loginForm.controls.email.touched&& loginForm.controls.email.dirty && loginForm.controls.email.errors?.['pattern']"
          class="text-danger">
          * Email format followes this roles <br>
          + your National-Id<br>
        </p>
      </div>

      <!-- Password input -->
      <div data-mdb-input-init class="mb-4">
        <input type="password" class="form-control" placeholder="" formControlName="password" />
        <label class="form-label ms-3">Password</label>
        <p *ngIf="loginForm.controls.password.touched&& loginForm.controls.password.dirty && loginForm.controls.password.errors?.['required']"
          class="text-danger">
          * This field is required
        </p>
      </div>

      <!-- Submit button -->
      <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-block mb-4 d-block m-auto">Sign
        in</button>

    </form>
  </div>
</section>