<div *ngIf="data.length > 0; else noStudents">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th *ngFor="let header of tableHeader">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td>
          <svg [ngClass]="{
            'active-icon': row.active,
            'inactive-icon': !row.active
          }" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="3em" width="3em" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" clip-rule="evenodd"></path></svg>
          {{ row.id }}
        </td>
        <td>{{ row.name }}</td>
        <td>{{ row.level }}</td>
        <td>{{ row.email }}</td>
        <td>{{ row.device }}</td>
        <td>{{ row.active }}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noStudents>
  <p class="text-center text-muted">No students in this course yet.</p>
</ng-template>
